<section *ngIf="userAccount.todos !== undefined">
    <div class="row">
        <div class="column large-offset-3 large-4">
            <h1>
                Bucketlist
            </h1>
        </div>

        <div class="column large-2 text-right">
            <h1 [innerHTML]="incompleteTodoCount"></h1>
        </div>
    </div>

    <!--<form #myForm="ngForm" (ngSubmit)="myForm.form.valid && addTodo(newTodo)">
    <div class="row">
        <div class="column medium-6 small-12">
            <input class="new-todo" name="title" type="text" required placeholder="Add something here" autofocus [(ngModel)]="newTodo.title">
        </div>

        <div class="column medium-2 small-12">
            <button type="submit" class="button expanded">
                Add
            </button>
        </div>
    </div>
    </form>-->

    <div class="row">
        <div class="column large-offset-3 large-6">
            <table class="hover">
                <thead>
                    <tr>
                        <th>
                            Activity
                        </th>

                        <th>
                            Completed
                        </th>

                        <!--<th></th>-->
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let todo of userAccount.todos; let i = index" 
                        (click)="toggleTodoComplete(todo, i)"
                        class="cursor-pointer">
                        <td>
                            <span [class.completed]="todo.complete" [innerHTML]="todo.title">
                        </span>
                        </td>

                        <td class="text-center">
                            <input class="toggle" type="checkbox" [checked]="todo.complete">
                        </td>

                        <!--<td>
                        <button type="button" class="destroy" (click)="removeTodo(todo)">
                            &#10006;
                        </button>
                    </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="column large-offset-3 large-6">
            <footer class="footer">

                <span *ngIf="incompleteTodoCount" [ngPlural]="incompleteTodoCount">                   
                    <template ngPluralCase="=0">
                        You're all finished!
                    </template>

                    <template ngPluralCase="one">
                        Only one thing left to do&hellip;
                    </template>

                    <template ngPluralCase="=2">
                        Just couple things left to do.
                    </template>

                    <template ngPluralCase="other">
                        {{incompleteTodoCount}} things left to do.
                    </template>
                </span>

            </footer>
        </div>
    </div>
</section>

<div class="row" *ngIf="userAccount.todos === undefined">
    <div class="column large-offset-3 large-6 small-12">
        <div class="callout primary text-center">
            <h5>Please sign in to get started</h5>
        </div>
    </div>
</div>