<div class="row">
    <div class="column small-12">
        <p>
            {{ (af.auth | async)?.uid }}
        </p>
    </div>
</div>

<div class="row">
    <div class="column small 6">
        <button type="button" class="hollow button secondary" (click)="login()">
            <img src="/assets/images/google.svg">
            Sign in with Google
        </button>
    </div>

    <div class="column small-6">
        <button type="button" class="hollow button secondary" (click)="logout()">
            Logout
        </button>
    </div>
</div>