<div class="row">
    <div class="column small-8">
        <h1>
            Tasks
        </h1>
    </div>

    <div class="column small-4 text-right">
        <h2 [innerHTML]="incompleteTodoCount"></h2>
    </div>
</div>

<form #myForm="ngForm" (ngSubmit)="myForm.form.valid && addTodo(newTodo)">
    <div class="row">
        <div class="column medium-6 small-12">
            <input class="new-todo" name="title" type="text" required placeholder="Add something here" autofocus [(ngModel)]="newTodo.title">
        </div>

        <div class="column medium-2 small-12">
            <button type="submit" class="button expanded">
                Add
            </button>
        </div>
    </div>
</form>

<div class="row" *ngFor="let todo of todos">
    <div class="column small-1">
        <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
    </div>

    <div class="column small-10">
        <span [class.completed]="todo.complete" [innerHTML]="todo.title">
        </span>
    </div>

    <div class="column small-1 text-right">
        <button type="button" class="destroy" (click)="removeTodo(todo)">
            &#10006;
        </button>
    </div>
</div>

<div class="row">
    <div class="column">
        <footer class="footer">
            <span class="todo-count">

                <span [ngPlural]="incompleteTodoCount">                   
                    <template ngPluralCase="=0">
                        You're all finished!
                    </template>

                    <template ngPluralCase="one">
                        Only one thing left to do&hellip;
                    </template>

                    <template ngPluralCase="=2">
                        Just couple things left to do.
                    </template>

                    <template ngPluralCase="other">
                        {{incompleteTodoCount}} things left to do.
                    </template>
                </span>
                
            </span>
        </footer>
    </div>
</div>