<div class="row">
    <div class="column small-12">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu" *ngIf="user.auth">
                    <li class="menu-text">
                        Welcome, {{user.auth.providerData[0].displayName}}
                    </li>
                </ul>
            </div>

            <div class="top-bar-right">
                <ul class="menu" [ngSwitch]="!!user.auth">
                    <li *ngSwitchCase="true">
                        <button type="button" class="hollow button white" (click)="logout()">
                            Logout
                        </button>
                    </li>

                    <li *ngSwitchCase="false">
                        <button type="button" class="hollow button white" (click)="login()">
                            <img src="/assets/images/google.svg">
                            Sign in with Google
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column small-12">
        <section class="content-main">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
